body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
height: 100vh;
padding: 5%;
}
.content{

    width: 2dvb;
    margin: 0 auto;
}
canvas{

    max-width: 50%;
}
.txt-tile{
    margin-bottom: 2%;
}

.datos{
    margin-bottom: 2%;
}